header {
    background-color: slateblue;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin-bottom: 20px;
}

header  a {
    background-color: slateblue;
    font-weight: bold;
    text-decoration: none;
    color: snow;
    font-size: 40px;
    border: black 1px solid;
    padding: 10px;
}

header a[class='active']{
    color: #38007a;
    background-color: #82b2ff;
}

.outlet {
    background: linear-gradient(0.45turn, thistle, lightcyan);
}
