header {
    background-color: #92ff7c;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    border: black 4px solid;
}

header  a {
    background-color: #03e800;
    font-weight: bold;
    text-decoration: none;
    color: snow;
    font-size: 40px;
    border: black 2px solid;
    padding: 10px;
}

header a[class='active']{
    color: #ffffff;
    background-color: #0f4b00;
}

.outlet {
    background: linear-gradient(0.45turn, #5aff00, lime,#fff400, springgreen,yellowgreen);
    padding: 20px;
    border: black 4px solid;

}
.app{
    width: 1200px;
}